# Ignora cache compilado
__pycache__/
*.py[cod]

# Ignora arquivos temporários de editores
*.swp
*.bak
*.tmp

# VS Code
.vscode/

# Ambientes virtuais
.env/
venv/
ENV/

# Ignora arquivos de instalação de pacotes
*.egg
build/
dist/
*.egg-info/